################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project NMBS/v15
/GTFS
/Licentieovereenkomst.pdf
