################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project NMBS/v15
/GTFS
/Licentieovereenkomst.pdf
/Project NMBS/GTFS_NMBS.dll
/Project NMBS/bin/Debug/GTFS_NMBS.dll
/Project NMBS/TripID.cs
/Project NMBS/TripExpanded.cs
