################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Project NMBS/v15
/GTFS
/Licentieovereenkomst.pdf
/codealike.json
/Project NMBS/FileDownload.cs
/MainWindow.xaml.min.cs
/MainWindow.min.xaml
/realtime.Alert.png